.header {
  grid-area: header;
  padding: $gap;

  &-bar {
    grid-area: header;
    background: 0 $color-header;
  }


  &__headline {
    color: $color-text;
    margin-bottom: 0;
    text-decoration: underline;
  }
}
